@font-face {
    font-family: 'GT-Planar-Italic';
    src: url('assets/fonts/GT-Planar-Italic-30-Light-Trial.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

@font-face {
    font-family: 'GT-Planar';
    src: url('assets/fonts/GT-Planar-Light-Trial.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

@font-face {
    font-family: 'PPMondwest';
    src: url('assets/fonts/PPMondwest-Regular.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

body{
    margin: 0px;
    overflow-y: hidden;
}

.logo{
    padding-top: 36px;
    padding-left: 22px;
}

.logo-img{
    position: fixed;
    height: 91vh;
    mix-blend-mode: multiply;
}

.home-container{
    
    display: flex;
    flex-direction: column;
}

.home-container, .header-menu{
    display: flex;
}

.header-menu{
    justify-content: center;
    padding-right: 520px;
}

.header-item{
    margin-left: 260px;
}

.header-links{
    text-decoration: none;
    color: black;
    font-family: 'GT-Planar';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.home-gif-div{
    justify-content: center;
    margin-top: 200px;
    display: flex;
    /*
    justify-content: center;
    align-items: center;
    */
}

.home-gif{
    height: 50vh;
}

a{
    color: #000;
}

/*FONTS*/
/*FONTS*/
.mondwest-large{
    font-family: 'PPMondwest';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-title{
    font-family: 'PPMondwest';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}

.project-description{
    color: #000;
    font-family: 'GT-Planar';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.GT-Planar-sm{
    color: #000;
    font-family: 'GT-Planar';
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


/* about page */
.black{
    background-color: #000;
}

.black .header-links, .black .mondwest-large {
    color: white; 
}

.dice-logo{
    margin-left: -22px;
    position: fixed;
    display:flex ;
    flex-direction: column;
}

.die{
    height: 27vh;
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 23px;
}

.right-div{
    position: relative;
    justify-content: right;
    display: flex;
}

.left-div{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.left-dot, .right-dot{
    position: absolute;
    width: 95px;
    height: 95px;
}

.right-dot {
   
  }
  
  .left-dot {
    
  }

.about-copy{
    display: flex;
    flex-direction: column;
    height: 81.5vh;
    align-items: center;
    justify-content: flex-end;
    padding-left: 130px;
    margin-top: 120px;
}

body > div > div.about-copy > h1{
    width: 757px !important;
}

body > div > div.home-body-container > div > h1{
    margin: 0px;
    padding: 0px;
}

/* projects */
/* projects */
.moodring-thumbnail{
    width: 591px;
    height: 368px;
    border-radius: 10px;
}

.projects-row{
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    display: flex;
    flex-direction: row;
    /*CHANGE THIS VALUE BY 570 EVERY TIME YOU ADD MORE PAGES*/
    padding-left: 1370px;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    height: 92.5vh;
}

.projects-container{
    display: flex;
    flex-direction: column;
    
    margin-right: 68px;
    margin-top: 100px;
}

.project-div{
    width: 591px;
    height: 368px;
    border-radius: 10px;
    border: 1px solid #000;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Hide scrollbar for all browsers except Firefox */
::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */

  /* PROJECT SHOWCASE PAGE */
  /* PROJECT SHOWCASE PAGE */
.project-copy{
    margin-top: 40px;
    justify-content: center;
    padding-left: 225px;
    display: flex;

}

.project-link{
    margin-top: -14px;
}

.project-name-link{
    display: flex;
    flex-direction: column;
    padding-right: 45px;
}

.project-info{
    width: 560px;
}

.project-showcase-row{
    padding-left: 405px;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;
}

.project-showcase-div{
    justify-content: center;
    align-items: center;
    width: 878px;
    height: 532px;
    border: 1px solid #000;
}

body > div > div.project-showcase-row > div:nth-child(3) > div{
    width: 570.524px !important;
    height: 532px !important;
    border: 1px solid #000;
}

.project-showcase-div video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video fills the div while maintaining its aspect ratio */
}

.drinks-img, .about-page-img, .menu-img, .moodring-img{
    border: 1px solid #000;
    margin-right: 60px;
    margin-top: 99px;
    border-radius: 10px;
    height: 532px;
}

.vertical-imgs{
    display: flex;
    flex-direction: column;
    margin-top: 99px;
    margin-right: 60px;
}

.cherries-img{
    height: 245px;
    margin-bottom: 43px;
    border-radius: 10px;
    border: 1px solid #000;
}

.fairy-img{
    height: 245px;
    border-radius: 10px;
    border: 1px solid #000;
}

.mobile-logo{
    display: none;
}

/* Tablet mode homepage */
@media screen and (max-width:1300px){
    .header-menu {
        width: 100vw;
        padding-right: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }
    .logo{
        position: absolute;
    }
}

@media screen and (max-width:600px){
    .header-menu {
        width: 90vw;
        justify-content: space-between;
        padding-left: 23px;
        padding-right: 30px;
    }
    .header-item{
        margin-left: 0px !important;
    }
    .home-container{
        overflow-x:hidden !important; 
    }
    .home-gif-div {
        justify-content: center;
        margin-top: 200px;
        display: flex;
        width: 350px;
        height: 350px;
        padding-left: 15vw;
    }

    .logo-img {
        margin-top: 80px;
        position: absolute;
        height: 70vh;
        mix-blend-mode: multiply;
    }
}

/* Tablet mode about page*/
@media screen and (max-width:1300px){
    body > div > div.about-copy > h1{
        width: 471px !important;
    }
    .about-copy{
        padding-left: 340px;
    }
}

@media screen and (max-width:800px){
    body > div > div.about-copy > h1{
        width: 180px !important;
    }
    .mondwest-large{
        font-size: 20px;
    }

    .dice-logo{
        margin-top: 55px;
        position: absolute;
        display:flex ;
        flex-direction: column;
    }
    .die{
        height: 18vh;
        width: 138px;
        display: flex;
        flex-direction: column;
        padding: 23px;
    }
    
    .left-dot, .right-dot{
        position: absolute;
        width: 58.649px;
        height: 58.649px;
    }
    .about-copy{
        padding-left: 190px;
        margin-top: 00px;
    }
}

/*projects page*/
@media screen and (max-width: 1300px) {
    body.special-header .header-item {
        margin-right: 150px;
}
    .projects-row {
        justify-content: left;
        flex-direction: column;
        overflow-x: hidden;
        padding-left: 250px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    body.special-header{
        overflow-y: auto;
    }

    body.special-header .header-menu {
        position:fixed;
        background-color: white;
        width: 90vw;
        justify-content: space-between;
        padding-left: 23px;
        padding-right: 30px;
    }
    .header-item{
        margin-left: 0px !important;
    }
    .mobile-logo{
        display: block;
    }

    body.special-header .home-container{
        overflow-y: hidden !important;
    }

    body.special-header .logo-img{
        display: none;
    }
    body.special-header .header-item {
        margin-right: 0px;
    }

    body.special-header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        
      }
      
      body.special-header .logo-img {
        width: 12px;
        height: 54.772px;
      }
    
    .projects-row{
        padding-left: 0px;
        overflow-x: hidden;
        overflow-y: scroll !important;
        white-space: wrap; /* Prevent line breaks */
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        height:auto;
        padding-bottom: 0px;
    }

    .projects-container{
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 350px;
        height: 219px;
        margin-bottom: 100px;
    }

    .project-div{
        width: 350px;
        height: 219px;
        border-radius: 10px;
        border: 1px solid #000;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    .moodring-thumbnail {
        width: 350px;
        height: 219px;
        border-radius: 10px;
    }
    .project-title{
        font-size: 40px;
    }
    
    .project-description{
        margin-top: -5px;
        font-size: 16px;
        white-space: wrap !important;
        width: 350px;
        overflow: auto;
        overflow-y: visible;
        overflow-x: visible;
    }
}

  